<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Site{% endblock %}</title>

  {# CSS généré par Vite en build #}
  {% for href in vite_css('assets/react/main.tsx') %}
    <link rel="stylesheet" href="{{ href }}">
  {% endfor %}
</head>
<body>
  {% block body %}{% endblock %}

  {# JS principal du build #}
  <script type="module" src="{{ vite_asset('assets/react/main.tsx') }}"></script>
</body>
</html>
